html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    color: #4D4D4D;
    background-color: #F2F2F2;
}

.Form-file input[type=file] {
     font-size: 13px;
     position: absolute;
     top: 0;
     right: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
     opacity: 0;
//     filter: alpha(opacity=0);
 }

 .Input--active input[type=text] {
     border: 1px solid #5464FB;
     border-radius: 2.5px;
     
 }

 .Input.Input--active:focus {
     outline: none;
     
 }

 .Input--error {
     border: 1px solid red;
 }

 .Header {
     height: 60px;
     width: 100%;
     background-color: white;
     border-bottom: 1.5px solid #CACACA;
     
 }

 .Header-logo {
     display: inline-block;
     width: 50px;
     height: 50px;
     margin-top: 5px;
     
 }

 .Header-item {
     display: inline-block;
     line-height: 60px;
     vertical-align: top;
     margin: 0 10px;
     height: 60px;
     
 }

 .Header-item a {
     color: black;
     text-decoration: none;
     height: 100%;
     
 }

 .Header-item a:hover {
     color: #FF6639;
     
 }

 .Header-item a:not(:first-of-type) {
     margin-left: 10px;
     
 }

 a.Header-item--selected {
     color: #FF6639;
     border-bottom: 10px solid #FF6639;
     padding-bottom: 10px;
     box-sizing: border-box;
     
 }

 .Header-search .Input {
     width: auto;
     
 }

 .Header-search .Input input {
     border-radius: 2.5px 0 0 2.5px;
     
 }

 .Header-search .PrimaryButton {
     margin-left: -6px;
     border-radius: 0 2.5px 2.5px 0;
     
 }

 .Header-image {
     display: inline-block;
     margin-top: 10px;
     width: 40px;
     height: 40px;
     border-radius: 50px;
     background-color: black;
     background-size: cover;
     
 }

 .PrimaryButton {
     background-color: #5464FB;
     color: white;
     height: 26px;
     border-radius: 2.5px;
     font-size: 14px;
     border: 1px solid #5464FB;
 }

 .PrimaryButton:hover {
     background-color: white;
     color: #5464FB;
     
 }

 .Form .PrimaryButton {
     font-size: 16px;
     height: 30px;
 }


.Card {
     border: 1px solid #ccc;
     background: white;
     padding: 20px 30px;
}

.signIn-background .Card {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 100px;
    border: none;
    padding: 40px 30px;
}

 .Add-Another-Button {
     margin-top: 20px;
     
 }

 .Form {
     backgrgound-color: white;
     font-size: 20px;
     
 }

 .Form-section {
     margin-top: 10px;
     
 }

 .Form .Input, .Form .Input input {
     max-width: 100%;
     
 }

 .Form-row {
     border-bottom: 1px solid #e5e4e4;
     padding-bottom: 20px;
     
 }

 .Form .Form-row:last-of-type {
     margin-top: 100px;
     
 }

 .Form-marginTop {
     margin-top: 20px;
     
 }

 .Form label {
     display: block;
     
 }

 .AddMovie {
     margin-top: 15px;
     
 }

 .Form-AddMovie--row:nth-last-child(2) {
     border: none;
     
 }

 .Form-AddMovie-InputNameANDInput input {
     font-size: 11px;
     
 }

 .Form-AddMovie-InputName {
     text-align: left;
     font-size: 14px;
     
 }

 .Form-AddMovie--row input {
     width: 100%;
     
 }

 .Form-AddMovie-sectionName {
     text-align: left;
     font-size: 17px;
     margin-bottom: 10px;
     
 }

 .Form-comment {
     font-size: 11px;
     margin-top: 5px;
     color: #808080;
     
 }

 .Movie-cover {
     height: 250px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     
 }

 .Movie-cover--poster {
     width: 110px;
     position: absolute;
     left: 20px;
     bottom: 20px;
     
 }

 .MyMovies {
     font-size: 20px;
     text-align: center;
     margin-top: 10px;
     
 }

 .Body-profile {
     margin: 20px auto;
     width: 80px;
     height: 80px;
     border-radius: 50px;
     background-color: black;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: 80px;
     right: 15px;
 }

 .Search {
     font-size: 17px;
     margin-top: 20px;
     
 }

 .Search-result {
     display: inline-block;
     color: #333333;
     
 }

 .Search-value {
     display: inline-block;
     color: #5464FB;
     
 }

 .Movie {
     padding-top: 20px;
     padding-bottom: 20px;
     position: relative;
     
 }

 .Movie-poster {
     position: relative;
     background-size: 230px;
     width: 230px;
     height: 342px;
     border-radius: 2.9px;
     background-repeat: no-repeat;
     background-position: center;
 }

 .Movie-cover--overlay {
     position: absolute;
     left: 0;
     bottom: 0;
     background: rgba(0, 0, 0, 0.7);
     color: white;
     width: 100%;
     height: 45px;
     
 }

 .Movie-cover-stars {
     margin-left: 150px;
     line-height: 45px;
     font-size: 16px;
     padding-left: 10px;
     
 }

 .Movie-cover-stars li {
     display: inline-block;
     font-size: 20px;
     
 }

 .Movie-cover-stars li:first-of-type {
     margin-left: 20px;
     
 }

 .Movie-info-container {
     background-color: #E4E4E4;
     padding-bottom: 25px;
     
 }

 .Movie-info-title {
     margin: 15px 8px;
     font-size: 18px;
     
 }

 .Movie-info-profile {
     margin-left: 8px;
     
 }

 .Movie-info-profile:not(:first-of-type) {
     margin-top: 15px;
     
 }

 .Movie-info-profile-picture {
     display: inline-block;
     border-radius: 50px;
     height: 40px;
     width: 40px;
     background-size: cover;
     background-position: center;
     
 }

 .Movie-info-name {
     margin-left: 10px;
     line-height: 40px;
     vertical-align: top;
     display: inline-block;
     color: black;
 }

 .Movie-info-name:hover, .Movie-info-name:focus, .Movie-info-actorName:hover {
     text-decoration: none;
 }

 .Movie-info-cast-name {
     display: inline-block;
     vertical-align: top;
     margin-left: 10px;
     
 }

 .Movie-contents {
     background-color: white;
     padding: 13px 8px;
     
 }

 .Movie-contents-title {
     font-size: 18px;
     padding-top: 15px;
     margin-bottom: 13px;
     padding-left: 15px;
     
 }

 .Movie-contents--storyLine {
     padding: 5px 30px;
     text-indent: 30px;
     
 }

 .Movie-overlay {
     position: absolute;
     left: 0;
     bottom: 0;
     background: rgba(0, 0, 0, 0.7);
     color: white;
     width: 100%;
     padding-top: 8px;
     
 }

 .Movie-title {
     text-align: center;
     padding-bottom: 5px;
     font=size: 16px;
     
 }

 .Movie-stars {
     font-size: 20px;
     color: white;
     width: 100%;
     text-align: center;
     margin-bottom: 8px;
     
 }

 .Movie-stars--hidden {
     display: none;
     
 }

button {
    border-style: none;
}

label {
    font-size: 13px;
}

h1 {
    font-size: 25px;
    margin: 0;
}

h2 {
    font-size: 20px;
    margin: 0;
}

.Input {
    display: inline-block;
    width: 100%;
    height: 23px;
}

.Input input[type=text], .Input input[type=number], .Input input[type=password], .Input input[type=email], .Input textarea {
    height: 26px;
    border: 1px solid #B1B1B1;
    border-radius: 2.5px;
    background-color: #F7F7F7;
    padding: 0 5px;
    font-size: 13px;
}

.Input input[type=email], .Input input[type=password] {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #cfcfcf;
}

.Input input[type=text]:focus, .Input input[type=number]:focus, .Input input[type=email]:focus, .Input input[type=password]:focus {
//    border: 1px solid #5464FB;
    border-radius: 2.5px;
    background-color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.Input input[type=email].InputError, .Input input[type=password].InputError {
    border: 1px solid #f62a2a;
    background-color: rgba(213, 128, 125, 0.8);
}

.Input input[type=email].InputError:focus, .Input input[type=password].InputError:focus {
    background-color: white;
}

.Form-file {
    position: relative;
    overflow: hidden;
    font-size: 13px;
    border-radius: 2.9px;
    background-color: #5464FB;
    color: white;
    padding: 2.5px 20px;
}

.Input--active input[type=text] {
    border: 1px solid #5464FB;
    border-radius: 2.5px;
    outline: none;
}

.Input.Input--active:focus {
    outline: none;
}

.Header {
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom: 1.5px solid #CACACA;
}

.PrimaryButton:hover {
    background-color: white;
    color: #5464FB;
}

.Form .PrimaryButton {
    font-size: 16px;
    height: 30px;
    display: block;
    position: static;
}

.SecondaryButton {
    background-color: #FF6639;
    color: white;
    font-size: 16px;
    border-radius: 2.9px;
    padding: 3px 10px;
}

.TertiaryButton {
    background-color: white;
    color: #FF6639;
    font-size: 13px;
    display: inline-block;
}

a.TertiaryButton {
    line-height: 60px;
    vertical-align: top;
    background: none;
    color: black;
}

a.TertiaryButton:hover {
    color: #FF6639;
    text-decoration: none;
}

.TransparentButton {
    background-color: Transparent;
    color: white;
    cursor: pointer;
}

.TransparentButton:focus {
    outline: none;
}

.Add-Another-Button {
    margin-top: 20px;
}

.Form-section {
    margin-top: 10px;
}

.Form .Input, .Form .Input input {
    max-width: 100%;
}

.Form-row {
    border-bottom: 1px solid #e5e4e4;
    padding-bottom: 20px;
}

.Form .Form-row:last-of-type {
    margin-top: 100px;
}

.Form-marginTop {
    margin-top: 20px;
}

.AddMovie {
    margin-top: 15px;
}

.Form-AddMovie--row:nth-last-child(2) {
    border: none;
}

.Form-AddMovie-InputNameANDInput input {
    font-size: 11px;
}

.Form-AddMovie-InputName {
    text-align: left;
    font-size: 14px;
}

.Form-AddMovie--row input {
    width: 100%;
}

.Form-AddMovie-sectionName {
    text-align: left;
    font-size: 17px;
    margin-bottom: 10px;
}

.Form-comment {
    font-size: 11px;
    margin-top: 5px;
    color: #808080;
}

.signIn-background {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(-45deg, #5464FB, #FF5539);
    color: white;
}

.signIn-background .Form-marginTop {
    margin-top: 30px;
}

.Movie-cover {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Movie-cover--poster {
    width: 110px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.MyMovies {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.Body-profile {
    margin: 20px auto;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80px;
    right: 15px;
    background-image: url('/img/blah.jpeg');
}

.MyMovie-menuContainer {
    color: #333333;
    font-size: 17px;
}

a.MyMovie-menu {
    display: inline-block;
    margin-right: 20px;
    box-sizing: border-box;
    border-bottom: 5px solid #F2F2F2;
    padding-bottom: 5px;
    font-size: 17px;
    color: black;
}

a.MyMovie-menu:hover {
    text-decoration: none;
    color: #FF6639;
    border-bottom: 5px solid #FF6639;
}

a.MyMovie-menu--selected {
    color: #FF6639;
    border-bottom: 5px solid #FF6639;
}

.Search {
    font-size: 17px;
    margin-top: 20px;
}

.Search-result {
    display: inline-block;
    color: #333333;
}

.Search-value {
    display: inline-block;
    color: #5464FB;
}

.Movie {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.Movie-cover--overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    height: 45px;
}

.Movie-cover-stars {
    margin-left: 150px;
    line-height: 45px;
    font-size: 16px;
    padding-left: 10px;
}

.Movie-cover-stars li {
    display: inline-block;
    font-size: 20px;
}

.Movie-cover-stars li:first-of-type {
    margin-left: 20px;
}

.Movie-info-container {
    background-color: #E4E4E4;
    padding-bottom: 25px;
}

.Movie-info-title {
    margin: 15px 8px;
    font-size: 18px;
}

.Movie-info-cast-name {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.Movie-info-roleName {
    line-height: 20px;
    vertical-align: top;
    color: #7D7D7D;
    font-size: 13.5px;
}

.Movie-info-actorName {
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    color: black;
}

.Movie-info-actorName span {
    font-size: 12px;
}

.Movie-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    padding-top: 8px;
}

.Movie-title {
    text-align: center;
    padding-bottom: 5px;
    font=size: 16px;
}

.Movie-stars {
    font-size: 20px;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

.Movie-stars--hidden {
    display: none;
}

.Movie-buttons {
    width: 100%;
    border-top: solid 0.5px white;
    font-size: 13px;
}

.Movie-buttons div {
    padding: 8px 0;
    width: 50%;
    display: inline-block;
    text-align: center;
}
.Movie-buttons div:first-of-type {
    border-right: solid 0.5px white;
}

.Movie-buttons form {
    margin: 0
}

button {
    border-style: none;
}

label {
    font-size: 13px;
}

h1 {
    font-size: 25px;
    margin: 0;
}

h2 {
    font-size: 20px;
    margin: 0;
}

.Input {
    display: inline-block;
    width: 100%;
    height: 23px;
}

.Input input[type=text]:focus, .Input input[type=number]:focus {
    border: 1px solid #5464FB;
    border-radius: 2.5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.Input--active input[type=text] {
    border: 1px solid #5464FB;
    border-radius: 2.5px;
}

.Input.Input--active:focus {
    outline: none;
}

.Header {
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom: 1.5px solid #CACACA;
}

.PrimaryButton:hover {
    background-color: white;
    color: #5464FB;
}

.Form .PrimaryButton {
    font-size: 16px;
    height: 30px;
}

.Add-Another-Button {
    margin-top: 20px;
}

.Form-section {
    margin-top: 10px;
}

.Form .Input, .Form .Input input {
    max-width: 100%;
}

.Form-row {
    border-bottom: 1px solid #e5e4e4;
    padding-bottom: 20px;
}

.Form .Form-row:last-of-type {
    margin-top: 100px;
}

.Form-warning {
    color: red;
    font-size: 13px;
}

.Form-marginTop {
    margin-top: 20px;
}

.AddMovie {
    margin-top: 15px;
}

.Form-AddMovie--row:nth-last-child(2) {
    border: none;
}

.Form-AddMovie-InputNameANDInput input {
    font-size: 11px;
}

.Form-AddMovie-InputName {
    text-align: left;
    font-size: 14px;
}

.Form-AddMovie--row input {
    width: 100%;
}

.Form-AddMovie-sectionName {
    text-align: left;
    font-size: 17px;
    margin-bottom: 10px;
}

.Form-comment {
    font-size: 11px;
    margin-top: 5px;
    color: #808080;
}

.Movie-cover {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Movie-cover--poster {
    width: 110px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.MyMovies {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.Body-profile {
    margin: 20px auto;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80px;
    right: 15px;
    background-image: url('/img/blah.jpeg');
}

.Search {
    font-size: 17px;
    margin-top: 20px;
}

.Search-result {
    display: inline-block;
    color: #333333;
}

.Search-value {
    display: inline-block;
    color: #5464FB;
}

.Movie {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.Movie-url {
    top: 0;
    left: 0;
    position: absolute;
    width: 230px;
    height: 270px;
}

.Movie-cover--overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    height: 45px;
}

.Movie-cover-stars {
    margin-left: 150px;
    line-height: 45px;
    font-size: 16px;
    padding-left: 10px;
}

.Movie-cover-stars li {
    display: inline-block;
    font-size: 20px;
}

.Movie-cover-stars li:first-of-type {
    margin-left: 20px;
}

.Movie-info-container {
    background-color: #E4E4E4;
    padding-bottom: 25px;
}

.Movie-info-title {
    margin: 15px 8px;
    font-size: 18px;
}

.Movie-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    padding-top: 8px;
}

.Movie-title {
    text-align: center;
    padding-bottom: 5px;
    font=size: 16px;
}

.Movie-stars {
    font-size: 20px;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

.Movie-stars--hidden {
    display: none;
}

.Input-errorMessage {
    color: #f62a2a;
    font-size: 13px;
}

span.fa-check {
    color: #37e637;
}

.hidden {
    display: none; 
}

@media (max-width: 780px) {
    .Header-search .Input input {
        width: 80px;
        font-size: 12px;
    }
    .Header-search .PrimaryButton {
        font-size: 12px;
    }

    .Movie-poster {
        width: 220px;
        height: 340px;
    }
}

@media (max-width: 767px) {
    .Form-row label {
        margin-top: 10px;
    }    
}

@media (max-width: 575px) {
    .Movie-poster {
        margin: 0 auto;
    }

    .Header .container {
        padding: 0;
    }

    .Header-logo {
        width: 40px;
        height: 40px;
        line-height: 60px;
        vertical-align: middle;
    }

    .Header-item {
        font-size: 13px;
    }

    .Form-marginTop div label {
        margin-top: 10px;
    }

    .Form-row .Input {
        width: 10%;
        display: inline-block;
    }

    label {
        width: 10%;
        margin: 0;
    }

    .Form-row .Input input[type=text], .Form-row .Input input[type=number] {
        width: 100%;
        margin: 0;
    }

    .Form-row .Input input[name="title"] {

    }

    .Form-row .row div {
        margin: 0 auto;
    }
    
    //.Form-row .Input input{
      //  margin: 0 auto;
    //}
}

.push-right {
    position: absolute;
    right: 0;
    top: 0;
}


