{% extends "base.html" %}
{% block content %}
<div class="MyMovies">My Movies</div>
<div class="Body-profile" style="background-image:url('{{ profilePic }}');"></div>
<div class="row">
  <div class="MyMovie-menuContainer col-sm-12">
    <a class="MyMovie-menu {% if watched %}MyMovie-menu--selected{% endif %}" href="{{ url_for('movies_watched') }}">Watched</a>
    <a class="MyMovie-menu {% if want_to_watch %}MyMovie-menu--selected{% endif %}" href="{{ url_for('movies_want_to_watch') }}" class="MyMovie-menu">Want to watch</a>
  </div>
</div>
{% if movies %}
<div class="row">
{% for movie in movies %}
<div class="Movie col-lg-3 col-md-4 col-sm-6 col-xs-6">
  <div class="Movie-poster" style="background-image: url('{{ movie.poster }}')">
    <a class="Movie-url" href="{{ movie.url }}"></a>
    <div class="Movie-overlay">
      <div class="Movie-title">{{ movie.title }}</div>
      <div class="Movie-stars {% if movie.rating %}clicked {% else %}Movie-stars--hidden{% endif %} col-sm-12" data-movie-id="{{ movie.id }}">
        {% for i in range(5) %}
        <li class="fa {% if i < movie.rating %}fa-star{%else%} fa-star-o{%endif%} {% if i == movie.rating - 1 %}clicked{% endif %}"></li>
        {% endfor %}
      </div>
      <div class="Movie-buttons">
        <div><form action="{{ url_for('add_want_to_watch', movie_id=movie.id) }}" method="POST">
          <button class="TransparentButton">Watch later</button><!--
        --></form></div><!--
     --><div>Not interested</div>
      </div>
    </div>
  </div>
  <div class="Movie-hidden Movie-hidden--hidden">
  </div>
</div>
{% endfor %}
</div>
{% else %}
<div>There are no movies that you have watched.</div>
{% endif %}
<script src="/scripts/watch.js"></script>
{% endblock %}

