{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-6 offset-lg-3">
    <div class="AddMovie Card">
      <header class="row">
        <div class="col-sm-12">
          <h1>Add Movie</h1>
        </div>
      </header>
      <form class="Form" method="post" action="{{ url_for("add_movie_POST") }}">
          <div class="Form-row">
            <div class="row Form-marginTop">
            <div class="col-lg-7 col-md-7">
              <label>Title</label>
              <div class="Input">
                <input type="text" name="title" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3">
              <label>Year</label>
              <div class="Input">
                <input type="number" name="year" class="form-control">
              </div>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 Form-section">
              Plot
            </div>
          </div>
          <div class="Form-row">
            <div class="row Form-marginTop">
              <div class="col-sm-10">
                <div class="Input">
                  <textarea type="text" rows='3' name="director" class="form-control"></textarea>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-sm-12 Form-section">
                Director
              </div>
            </div>
            <div class="Form-row">
              <div class="row Form-marginTop">
                <div class="col-sm-5">
                  <label>Name</label>
                  <div class="Input">
                    <input type="text" name="director" class="form-control">
                  </div>
                </div>
                <div class="col-sm-5">
                  <label>Picture</label>
                  <div class="Input">
                    <button class="Form-file">
                    <input type="file" name="director-picture">Choose file...
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <button class="TertiaryButton AddMovie-addDirector Form-marginTop" type="button"><div class="fa fa-plus"></div> Add another director</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 Form-section">
                Cast
              </div>
            </div>
            <div class="Form-row">
              <div>
                <div class="row Form-marginTop">
                  <div class="col-sm-5">
                    <label>Actor name</label>
                    <div class="Input">
                      <input type="text" name="actor" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <label>Actor picture</label>
                    <div class="Input">
                      <button class="Form-file">
                        <input type="file" name="actor-picture">Choose file...
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row Form-marginTop">
                  <div class="col-sm-5 last-form">
                    <label>Character name</label>
                    <div class="Input">
                      <input type="text" name="character" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <button class="TertiaryButton AddMovie-addCast Form-marginTop" type="button"><div class="fa fa-plus"></div> Add another cast</button>
                </div>
              </div>
            </div>
            <div class="Form-row">
              <div class="row Form-marginTop">
                <div class="col-sm-5">
                  <label>Movie poster</label>
                  <div class="Input">
                    <button class="Form-file">
                      <input type="file" name="movie-poster" />Choose file...
                    </button>
                  </div>
                </div>
              </div>
              <div class="row Form-marginTop">
                <div class="col-sm-5">
                  <label>Cover photo</label>
                  <div class="Input">
                    <button class="Form-file">
                      <input type="file" name="cover-photo" />Choose file...
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-sm-center">
                <button class="SecondaryButton Form-marginTop" name="submit">Submit</button>
              </div>
            </div>
    </div>
    </form>
  </div>
</div>
<script src="/scripts/addMovie.js"></script>
{% endblock %}
