<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div class="Header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="{{ url_for("search") }}">
              <img src="/img/sauropod.png" class="Header-logo" /><!--
         --></a>
            <div class="Header-item">
              {% if signedIn %}
              <a href="/profile/movies/watched" {% if myMovie %} class="Header-item--selected"{% endif %}>My movies</a>
              <a href="/movie/add" {% if addMovie %} class="Header-item--selected" {% endif %}>Add movie</a>
              {% else %}
              <a href="/movie/add" {% if addMovie %}class="Header-item--selected"{% endif %}>Add movie</a>
              {% endif %}
            </div>
            <div class="push-right">
            <!--            <div class="float-xs-right float-sm-right">-->
              <form class="Header-item Header-search" action="{{ url_for("search") }}">
                <div class="Input Input--active">
                  <input type="text" name="search" value="{{ search }}">
                </div>
                <button class="PrimaryButton fa fa-search"></button>
              </form>
              {% if loggedIn %}
              <a href="/profile/movies/watched" class="Header-image" style="background-image: url({{ profilePic }}"></a> 
              <a href="/signOut" class="TertiaryButton">Sign out</a>
              {% else %}
              <span style="line-height: 60px;">
                <a href="/signIn" class="TertiaryButton">Sign in</a> /
                <a href="/signUp" class="TertiaryButton">Sign up</a>
              </span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class= {% if signIn %}"signIn-background"{% else %}"container"{% endif %}>
      {% block content %}{% endblock %}
    </div>
    <script src="/scripts/utility.js"></script>
  </body>
</html>
