{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-12 Movie-cover" style="background-image: url('{{ movied.coverPhoto }}');">
    <div class="Movie-cover--overlay">
      <div class="Movie-cover-stars {% if movied.rating %}clicked{% endif %}" data-movie-id="{{ movied.movie_id }}" data-movie-title="{{ movied.title }}">
        {{ movied.title }} ({{ movied.year }})
        {% for i in range(5) %}
        <li class="fa {% if i < movied.rating %}fa-star{%else%}fa-star-o{% endif %} {% if i == movied.rating - 1 %}clicked{% endif %}"></li>
        {% endfor %}
      </div>
    </div>
    <img src="{{ movied.poster }}" class="Movie-cover--poster" />
  </div>
</div>
<div class="row">
<div  class="Movie-info-container col-sm-3">
  <div class="Movie-info-title">Director</div>
  {% for director in directors %}
  <div class="Movie-info-profile">
    <a href="{{ director.url }}" class="Movie-info-profile-picture" style="background-image: url({{ director.picture }});"></a>
    <a href="{{ director.url }}"class="Movie-info-name">{{ director.name }}</a>
  </div>
  {% endfor %}
  <div class="Movie-info-title">Cast</div>
  {% for actor in actors %}
  <div class="Movie-info-profile">
    <a href="{{ actor.url }}" class="Movie-info-profile-picture" style="background-image: url({{ actor.picture }})"></a>
    <div class="Movie-info-cast-name">
      <a href="{{ actor.url }}" class="Movie-info-actorName">{{ actor.name }}</a>
      <div class="Movie-info-roleName"><span>as </span>{{ actor.role }}</div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="Movie-contents col-sm-9">
  <div class="Movie-contents-title">Story Line</div>
  <p class="Movie-contents--storyLine">{{ movied.plot }} <a>more</a></p>
  <div class="Movie-contents-title">Comments</div>
</div>
</div>
<script src="/scripts/moviePage.js"></script>
{% endblock %}
