{% extends "base.html" %}
{% block content %}
<div class="MyMovies">{{ person_name }}</span></div>
<div class="Body-profile" style="background-image:url('{{ person_profilePic }}');"></div>
{% if movies %}
<div class="row">
{% for movie in movies %}
<div class="Movie col-sm-3">
  <div class="Movie-poster" style="background-image: url('{{ movie.poster }}')">
    <a class="Movie-url" href="{{ movie.url }}"></a>
    <div class="Movie-overlay">
      <div class="Movie-title">{{ movie.title }}</div>
      <div class="Movie-stars" data-movie-id="{{ movie.id }}">
        {% for i in range(5) %}
        <li class="fa {% if i < movie.rating %}fa-star{%else%}fa-star-o{%endif%}"></li>
        {% endfor %}
      </div>
      <div class="Movie-buttons">
        <div><form action="{{ url_for('add_want_to_watch', movie_id=movie.id) }}" method="POST">
          <button class="TransparentButton">Watch later</button><!--
        --></form></div><!--
     --><div>Not interested</div>
      </div>
    </div>
  </div>
  <div class="Movie-hidden Movie-hidden--hidden">
  </div>
</div>
{% endfor %}
</div>
{% else %}
<div>There are no movies that you have watched.</div>
{% endif %}
<script src="/scripts/myMovie.js"></script>
{% endblock %}
