{% extends "base.html" %}
{% block content %}
{% if search %}
<div class="Search col-sm-12">
  <div class="Search-result">Search result for</div>
  <div class="Search-value">{{ search }}</div>
</div>
{% endif %}
<div class="row">
  {% for movie in allMovies %}
<div class="Movie col-lg-3 col-md-4 col-sm-6 col-xs-6">
    <div class="Movie-poster" style="background-image: url('{{ movie.poster }}')">
      <a class="Movie-url" href="{{ movie.url }}"></a>
        <div class="Movie-overlay">
          <div class="row">
            <div class="col-sm-12">
              <div class="Movie-title">{{ movie.title }}</div>
            </div>
          </div>
          {% if signedIn %}
          <div class="row"> 
            <div class="Movie-stars {% if movie.rating %}clicked {% else %}Movie-stars--hidden{% endif %} col-sm-12" data-movie-id="{{ movie.id }}">
              {% for i in range(5) %}
              <li class="fa {% if i < movie.rating %}fa-star{%else%} fa-star-o{%endif%} {% if i == movie.rating - 1 %}clicked{% endif %}"></li>
              {% endfor %}
            </div>
          </div>
          <div class="Movie-buttons">
            <div><form action="{{ url_for('add_want_to_watch', movie_id=movie.id) }}" method="POST">
                <button class="TransparentButton">Watch later</button><!--
            --></form></div><!--
            --><div>Not interested</div>
          </div>
          {% endif %}
        </div>
      </div>
  </div>
    {% endfor %}
</div>
<script src="/scripts/search.js"></script>
{% endblock %}
