{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <div class="Card">
      <h2>Sign Up</h2>
      <form name="signUpForm" method="post" action="{{ url_for("signUpSubmitted")}}" novalidate>
        <div class="row Form-marginTop">
          <div class="col-sm-10 offset-sm-1">
            <label>Email</label>
            <div class="Input">
              <input id="email" type="email" name="email" class="form-control {% if email_error %}InputError{% endif %}" required/>
              <span class="Input-errorMessage"></span>
              {% if email_error %}
              <p class="Form-warning">{{ email_error }}</p>
              {% endif %}
            </div>
            <label class="Form-marginTop">Password</label>
            <div class="Input">
              <input id="password" type="password" name="password" class="form-control" required/>
              <span class="Input-errorMessage"></span>
            </div>
            <label class="Form-marginTop">Confirm password</label>
            <div class="Input">
              <input type="password" id="confirmPassword" name="confirmPassword" class="form-control {% if password_error %}InputError{% endif %}"/>
              <span class="Input-errorMessage"></span>
              <span class="fa fa-check hidden"></span>
              {% if password_error %}
              <p class="Form-warning">{{ password_error }}</p>
              {% endif %}
            </div>
          </div >
        </div>
        <div class="row">
          <div class="col-sm-12 text-sm-center">
            <button class="SecondaryButton Form-marginTop" disabled="disabled">Sign up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/scripts/signUp.js"></script>
{% endblock %}

