{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <div class="Card">
      <h2 style="color: white;">Sign In</h2>
      <form method="POST" action="{{ url_for('signInPost') }}">
        <div class="row Form-marginTop">
          <div class="col-sm-10 offset-sm-1">
            <label style="color: white;">Email</label>
            <div class="Input">
              <input autofocus type="email" name="email" class="form-control" />
            </div>
            <label style="color: white;" class="Form-marginTop">Password</label>
            <div class="Input">
              <input type="password" name="password" class="form-control"/>
          </div>
        </div >
        </div>
       {% if noAccount %}
        <p class="">Email does not exist.</p>
       {% endif %}
        {% if wrongPassword %}
        <p class="">The password does not match the email.</p>
        {% endif %}
        <div class="row">
          <div class="col-sm-12 text-sm-center">
            <button class="SecondaryButton Form-marginTop">Sign in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
