{% extends "base.html" %}
{% block content %}
<div>Movie Title: {{ title }}</div>
<div>Year released: {{ year }}</div>
<div>Director: {{ director }}</div>
<div>Picture: {{ directorPicture }}</div>
<div>Actor: {{ actor }}</div>
<div>Picture: {{ actorPicture }}</div>
<div>Character: {{ character }}</div>
<div>Poster: {{ moviePoster }}</div>
<div>Cover photo: {{ coverPhoto }}</div>
{% endblock %}
